
/* DASHBOARD */

html {
	overflow-y: scroll;
}

h2 {
	margin-left: -19px;
	margin-right: -19px;
	padding-left: 19px;
	padding-right: 19px;
	-moz-box-shadow: 0 5px 8px #f5f5f4;
}

h2 select {
	font-size: 80%;
	width: auto;
	float: right;
	margin: 0 5px 0 15px;
}

#save-panel {
	margin-left: -19px;
	margin-right: -19px;
	padding-left: 19px;
	padding-right: 19px;
	
	display: none;
	overflow: hidden;
	border-bottom: 1px solid #ddddcc;
	-moz-box-shadow: 0 5px 8px #f5f5f4;
}

#save-panel h3 {
	font-size: 120%;
	color: #aaa;
	text-shadow: none;
	font-weight: normal;
	margin: 10px 0 0 0;
}

#save-panel fieldset {
	border-color: #eee;
}

#save-panel .actions {
	border: none;
}

#dashboard {
	overflow: hidden;
}

#dashboard .sortable-container {
	padding-top: 0;
	margin: 10px 0;
}

#dashboard .sortable-container {
	padding: 5px 10px;
	border: 2px dashed #fff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	min-height: 85px;
}

#dashboard .sortable-container.hover {
	border: 2px dashed #eee;
}

#dashboard .sortable-container.active {
	border: 2px dashed #ccc !important;
}

.panel {
	background: #ddd;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	position: relative;
}

.new-panel {
	display: none;
}

.panel-placeholder {
	background: #f1f1f1;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	min-height: 60px;
	margin: 10px 0;
}

.panel h3 {
	font-size: 110%;
	font-weight: normal;
	margin: 0 0 5px 5px;
}

.panel h3 span {
	color: #aaa;
	margin: 0 0 0 5px;
	font-size: 90%;
	display: none;
}

#dashboard.edit .panel h3 {
	cursor: move;
}

.panel a.panel-edit {
	position: absolute;
	top: 7px;
	right: 12px;
	color: #aaa;
	z-index: 1;
	text-decoration: none;
	display: none;
}

#dashboard.edit .panel a.panel-edit {
	display: block;
}

#dashboard.edit .panel h3 span {
	display: inline;
}

.panel a.panel-edit:hover {
	color: #666;
}

.panel-inner {
	background: #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	padding: 10px;
}

div.create {
	margin-left: 5px;
}

.select-button {
	background-color: #81b934;
	color: #fff;
	float: right;
	padding: 0 1em .1em 1em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	position: relative;
	cursor: default;
}

.select-button:hover {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.select-button:hover,
.select-button.active {
	padding-bottom: .3em;
}

.select-button:hover ul {
	display: block;
}

.select-button ul {
	position: absolute;
	top: 2.3em;
	right: 0;
	list-style-type: none;
	z-index: 99;
	margin: 0;
	display: none;
}

.select-button ul li {
	white-space: nowrap;
	padding: 3px 9px;
	background-color: #81b934;
	cursor: pointer;
}

.select-button ul li:hover {
	background: #6c9c29;
}

.select-button li:first-child {
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	border-top-left-radius: 1em;
}

.select-button li:last-child {
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-moz-border-radius-bottomleft: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

select.hide {
	position: absolute;
	top: -9999em;
	left: -9999em;
}

/* PANEL: Datasource to Table */

.datasource_to_table table {
	border-collapse: collapse;
	width: 100%;
}

.datasource_to_table table td {
	vertical-align: top;
	padding: 5px;
	background: #f1f1f1;
}

.datasource_to_table table td.text {
	white-space: nowrap;
}

.datasource_to_table table th {
	text-align: left;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.datasource_to_table table .alt td {
	background: transparent;
}

/* PANEL: RSS Feed Reader */

.rss_reader h5 {
	margin: 10px 0 0 0;
}

.rss_reader h5:first-child {
	margin-top: 0;
}

.rss_reader p {
	margin: 0;
}

.rss_reader p.date {
	color: #aaa;
	margin: -1px 0 0 0;
}

.rss_reader ul {
	margin: 0 0 0 15px;
}

.rss_reader ul span.date {
	color: #aaa;
	margin: 0 0 0 5px;
}

/* PANEL: Symphony Overview */

.symphony_overview h4 {
	margin: 0 0 5px 0;
}

.symphony_overview dl {
	margin: 0 0 10px 0;
	overflow: hidden;
}

.symphony_overview dt {
	float: left;
	clear: left;
	width: 25%;
}

.symphony_overview dd {
	float: left;
	width: 70%;
}