/* DASHBOARD */

html {
	overflow-y: scroll;
}

#nav {
	z-index: 100;
}

h2 {
	margin-left: -19px;
	margin-right: -19px;
	padding-left: 19px;
	padding-right: 19px;
	
	-moz-box-shadow: 0 3px 8px #f5f5f4;
	-webkit-box-shadow: 0 3px 8px #f5f5f4;
	border-bottom: 1px solid #E6E6E5;
}

h2 select {
	font-size: 80%;
	width: auto;
	float: right;
	margin: 0 5px 0 15px;
}

#save-panel {
	background: #fafafa;
	z-index: 90;
	position: relative;
	margin: 0 -19px;
	padding: 0 19px;
	display: none;
	overflow: hidden;
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #ddd;
}

#save-panel h3 {
	font-size: 120%;
	color: #555;
	text-shadow: none;
	font-weight: normal;
	padding: 15px 0 12px;
	border-bottom: 1px solid #ddd;
	position: relative;
}

#save-panel h3 span {
	left: 275px;
	position: absolute;
}

#save-panel fieldset {
	border: 1px solid transparent;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

#save-panel legend {
	text-shadow: none;
}

#save-panel a {
	color: #8fafd9;
}

#save-panel label > span {
	border: 1px solid #616057;
	background: #504f49;
}

#save-panel textarea {
	padding: 2px;
}

#save-panel .actions {
	border: none;
	overflow: hidden;
	padding: 7px 0 14px 0;
}

#dashboard {
	overflow: hidden;
	margin: 0 -19px;
	padding: 10px;
}

#dashboard .sortable-container {
	padding-top: 0;
}

#dashboard .sortable-container {
	padding: 5px 10px;
	border: 1px solid #fff;
	min-height: 200px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#dashboard .sortable-container.hover {
	background: #fafafa;
}

#dashboard .sortable-container.active {

}

.panel {
	background: #FBFBFB;
	border: 1px solid #ccc;
	margin: 10px 0;
	position: relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.panel.ui-sortable-helper {
	-moz-box-shadow: 1px 2px 6px #ddd;
	-webkit-box-shadow: 1px 2px 6px #ddd;
	border-color: #ccc;
}

.panel-inner {
	overflow: hidden;
	padding: 10px;
	
	background: -moz-linear-gradient(#fbfbfb, #eee);
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-radius-bottomleft: 4px;
	-webkit-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.new-panel {
	display: none;
}

.panel-placeholder {
	background: #eee;
	margin: 10px 0;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
	border: 1px dashed #bbb;
}

.panel h3 {
	font-size: 110%;
	font-weight: normal;
	text-shadow: none;
	margin: 0;
	padding: 4px 10px;
	color: #555;
	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bfbfbf;
	
	-moz-border-radius: 4px;	
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	
	-webkit-border-radius: 4px;	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	
	background: #ddd;
	background-image: -moz-linear-gradient(center bottom, #eee, #ddd);
	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ddd), color-stop(1, #eee));
}

.panel h3 span {
	color: #999;
	margin: 0 0 0 5px;
	font-size: 90%;
	display: none;
}

#dashboard.edit .panel h3 {
	cursor: move;
}

.panel a.panel-edit {
	position: absolute;
	top: 5px;
	right: 12px;
	color: #999;
	z-index: 1;
	text-decoration: none;
	display: none;
}

#dashboard.edit .panel a.panel-edit {
	display: block;
}

#dashboard.edit .panel h3 span {
	display: inline;
}

.panel a.panel-edit:hover {
	color: #666;
}

div.create {
	margin-left: 5px;
}

.select-button {
	background-color: #81b934;
	color: #fff;
	float: right;
	display: inline-block;
	padding: 0.5em 1em .5em 1em;
	margin: 0;
	line-height: 11px;
	font-size: 10px;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	position: relative;
	cursor: default;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.select-button:hover {
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;	
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.select-button:hover,
.select-button.active {
	padding-bottom: 7px;
	margin-bottom: -7px;
}

.select-button:hover ul {
	display: block;
}

.select-button ul {
	position: absolute;
	top: 100%;
	right: 0;
	list-style-type: none;
	z-index: 99;
	margin: 0;
	display: none;
	line-height: 16px;
}

.select-button ul li {
	white-space: nowrap;
	padding: 3px 9px;
	background-color: #81b934;
	cursor: pointer;
}

.select-button ul li:hover {
	background: #6c9c29;
}

.select-button li:first-child {
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-top-left-radius: 1em;
}

.select-button li:last-child {
	-moz-border-radius-bottomright: 1em;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

select.hide {
	position: absolute;
	top: -9999em;
	left: -9999em;
}

/* PANEL: Datasource to Table
   @DEPRECATED if you want a skinny table, use .skinny
*/
.datasource_to_table table {
	border-collapse: collapse;
	width: 100%;
}

.datasource_to_table table td {
	vertical-align: top;
	padding: 5px;
	background: #f1f1f1;
}

.datasource_to_table table td.text {
	white-space: nowrap;
}

.datasource_to_table table th {
	text-align: left;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.datasource_to_table table .alt td {
	background: transparent;
}

/* PANEL: RSS Feed Reader */

.rss_reader h5 {
	margin: 10px 0 0 0;
}

.rss_reader h5:first-child {
	margin-top: 0;
}

.rss_reader p {
	margin: 0;
}

.rss_reader p.date {
	color: #aaa;
	margin: -1px 0 0 0;
}

.rss_reader ul {
	margin: 0 0 0 15px;
	list-style-type: disc;
}

.rss_reader ul span.date {
	color: #aaa;
	margin: 0 0 0 5px;
}

/* PANEL: Symphony Overview */

.symphony_overview h4 {
	margin: 0 0 5px 0;
}

.symphony_overview dl {
	margin: 0 0 10px 0;
	overflow: hidden;
}

.symphony_overview dt {
	float: left;
	clear: left;
	width: 25%;
}

.symphony_overview dd {
	float: left;
	width: 70%;
}

/* PANEL: Symphony Overview */

.panel.markdown_text p,
.panel.markdown_text ul,
.panel.markdown_text ol {
	margin-bottom: 0.75em;
}

.panel.markdown_text ul {
	list-style-type: disc;
}

.panel.markdown_text ol {
	list-style-type: decimal;
}

/* GENERIC: Skinny Table */

table.skinny {
	border-collapse: collapse;
	width: 100%;
}

table.skinny td {
	vertical-align: top;
	padding: 5px;
}

table.skinny td.text {
	white-space: nowrap;
}

table.skinny th {
	text-align: left;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px 8px 5px;
	line-height: 1;
}