
/* DASHBOARD */

html {
	overflow-y: scroll;
}

h2 select {
	font-size: 85%;
	width: auto;
	float: right;
	margin-right: 10px;
}

#dashboard .sortable-container {
	padding-top: 0;
	margin: 10px 0;
}

#dashboard .sortable-container {
	padding: 5px 10px;
	border: 2px dashed #fff;
	min-height: 85px;
}

#dashboard .sortable-container.hover {
	border: 2px dashed #eee;
}

#dashboard .sortable-container.active {
	border: 2px dashed #aaa !important;
}

.panel {
	background: #ddd;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	position: relative;
}

.panel-placeholder {
	background: #f1f1f1;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	min-height: 60px;
	margin: 10px 0;
}

.panel h3 {
	font-size: 110%;
	font-weight: normal;
	margin: 0 0 5px 5px;
	cursor: move;
}

.panel a.panel-edit {
	position: absolute;
	top: 7px;
	right: 12px;
	color: #aaa;
	z-index: 1;
	text-decoration: none;
}

.panel a.panel-edit:hover {
	color: #666;
}

.panel-inner {
	background: #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	padding: 10px;
}

/* PANEL: Datasource to Table */

.datasource_to_table table {
	border-collapse: collapse;
	width: 100%;
}

.datasource_to_table table td {
	vertical-align: top;
	padding: 5px;
	background: #f1f1f1;
}

.datasource_to_table table td.text {
	white-space: nowrap;
}

.datasource_to_table table th {
	text-align: left;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.datasource_to_table table .alt td {
	background: transparent;
}

/* PANEL: RSS Feed Reader */

.rss_reader h5 {
	margin: 10px 0 0 0;
}

.rss_reader h5:first-child {
	margin-top: 0;
}

.rss_reader p {
	margin: 0;
}

.rss_reader p.date {
	color: #aaa;
	margin: -1px 0 0 0;
}

/* PANEL: Symphony Overview */

.symphony_overview h4 {
	margin: 0 0 5px 0;
}

.symphony_overview dl {
	margin: 0 0 10px 0;
	overflow: hidden;
}

.symphony_overview dt {
	float: left;
	clear: left;
	width: 25%;
}

.symphony_overview dd {
	float: left;
	width: 70%;
}